

<center><h1>{{ template_title }}<h1></center>



<center><form method='POST' action =''>{% csrf_token %}
    {{ form.as_p }}
<body style="background:#80BFFF">    
 <style>
    body {
      color: black;
    }
  </style>
    
<p>Enter path to training dataset</p>
<input name="path" type='text'>
<div>

<p>Enter path to test dataset</p>

<input name="patht" type='text'>
</div>



<input type='submit' value='Submit'> 
<div>

</div>
</form></center>
